* {
    box-sizing: content-box;
}

body {
    color: rgb(223, 223, 223);
    text-align: center;
    background-color: rgb(64, 128, 128);
}

button {
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(255, 194, 95);
    color: rgb(187 29 128);
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    margin: 4px;
}

button:hover {
    background-color: rgb(255, 157, 0);
}

.timer {
    font-size: 32px;
    margin: auto;
}

.difficulties {
    padding-top: 10px;
}

.undo {
    display: block;
    margin: auto;
}

.lives {
    display: inline-block;
}

.activated {
    outline: 2px solid rgb(128, 32, 32);
}

.disabled {
    background-color: gray;
    color: black;
    cursor: auto;
    outline: none;
}

.disabled:hover {
    outline: none;
    background-color: gray;
}

.smiley {
    display: block;
    margin: auto;
    padding: 0px;
    padding-bottom: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    font-size: 100px;
    cursor: pointer;
    border-radius: 50%;
    border: 0px;
}

.smiley:hover {
    background-color: rgb(128, 32, 32);
}

.smiley:active {
    background-color: rgb(102, 0, 0);
}

.board {
    margin: auto;
    margin-top: 4px;
}

td {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(223, 223, 223);
}

.hidden {
    cursor: pointer;
    background-color: rgb(255, 194, 95);
}

.hidden:hover {
    background-color: rgb(255, 169, 30);
}

.hidden span {
    display: none;
}

.marked {
    cursor: pointer;
    background-color: rgb(255, 194, 95);
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.marked span {
    display: none;
}

.marked:hover {
    background-color: rgb(255, 169, 30);
}

.safe-cell {
    transition: 0.2s;
    outline: rgb(187 29 128) 4px solid;
}

.content0 span {
    display: none;
}

.content1 span {
    color: blue;
}

.content2 span {
    color: green;
}
.content3 span {
    color: red;
}

.content4 span {
    color: darkred;
}
.content5 span {
    color: darkblue;
}
.content6 span {
    color: darkgreen;
}
.content7 span {
    color: black;
}
.content8 span {
    color: grey;
}

footer {
    margin: auto;
}
